.fan-container
{
	display: flex;
	flex-direction: column;
	/*background-color: #000;*/
	margin: 0 0 10px 0;
}
.fan-upper
{
	height: 10em;
	display: flex;
	flex-direction: row;
	/*background-color: blue;*/
}
.fan-icon
{
	height: 100%;
	background-color: red;
	background-image: url("/img/fan.png");
	background-repeat: no-repeat;
	background-size: 92%;
	background-position: center;
}
.fan-graph
{
	width: 100%;
	/*background-color: grey;*/
	display: block;
}
.fan-lower
{
	display: flex;
	flex-direction: row;
	background-color: green;
	height: 40%;
}
.fan-controls
{
	display: inline-flex;
	width: auto;
	background-color: yellow;
	justify-content: center;
}
.fan-key
{
	display: inline-flex;
	width: 100%;
	background-color: orange;
	justify-content: flex-start;
}

input
{
	margin: 6px;
}

h3
{
	margin: 10px;
}

canvas
{
	width: 100%;
	height: 100%;
}
