body
{
	font-family: "Source Sans Pro", sans-serif;
	overflow-x: hidden;
}

#state-indicator
{
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 2;
	text-transform: uppercase;
	font-size: .9rem;
	letter-spacing: .2em;
	line-height: 1.618em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 10px;
}

#spacer
{
	width: 100%;
	height: 1.4562em;
	margin: 10px;
}
